
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Share/_Layout.cshtml";

    var project = ViewData["project"] as PPCRental.Models.PROPERTY;
    var district = ViewData["district_name"] as PPCRental.Models.DISTRICT;
    var ward = ViewData["ward_name"] as PPCRental.Models.WARD;
    var street = ViewData["street_name"] as PPCRental.Models.STREET;

}

<h2>Detail</h2>

<main>
    <section class="container">


        <ul class="b-crumbs">
            <li>
                <a href="index.html">
                    Home
                </a>
            </li>
            <li>
                <a href="catalog-list.html">
                    Catalog
                </a>
            </li>
            <li>
                <a href="catalog-list.html">
                    Women
                </a>
            </li>
            <li>
                <span>Aperiam nihil veniam</span>
            </li>
        </ul>
        <h1 class="main-ttl"><span>  </span></h1>
        <!-- Single Product - start -->
        <div class="prod-wrap">

            <!-- Product Images -->
            <div class="prod-slider-wrap">
                    <div class="prod-slider">

                        <ul class="prod-slider-car">
                            <li>
                                <a data-fancybox-group="product" class="fancy-img" href="http://placehold.it/500x642">
                                    <img src="/Asset/User/Images/@project.Avatar" alt="">
                                </a>
                            </li>
                        </ul>

                    </div>
                <div class="prod-thumbs">
                    <ul class="prod-thumbs-car">
                        <li>
                            <a data-slide-index="" href="#">
                                <img src="@project.Images" alt="">
                            </a>
                        </li>
                    </ul>
                </div>

            </div>

            <!-- Product Description/Info -->
            <div class="prod-cont">
                <div class="prod-cont-txt">
                    @project.Content
                </div>

                <ul class="prod-i-props">
                    <li>
                        <b>Street : </b> @street.StreetName
                    </li>
                    <li>
                        <b>Ward : </b> @ward.WardName
                    </li>
                    <li>
                        <b>District : </b> @district.DistrictName
                    </li>
                    <li>
                        <b>Price : </b> @project.Price
                    </li>
                    <li>
                        <b>Area : </b> @project.Area
                    </li>
                    <li>
                        <b>Bedroom : </b> @project.BedRoom
                    </li>
                    <li>
                        <b>Bathroom : </b> @project.BathRoom
                    </li>
                    <li>
                        <b>Parking Place : </b> @project.PackingPlace
                    </li>

                    @*<li><a href="#" class="prod-showprops">All Features</a></li>*@
                </ul>
            </div>

            <!-- Product Tabs -->
            <div class="prod-tabs-wrap">
                <ul class="prod-tabs">
                    <li><a data-prodtab-num="1" class="active" href="#" data-prodtab="#prod-tab-1">Description</a></li>
                    <li><a data-prodtab-num="2" id="prod-props" href="#" data-prodtab="#prod-tab-2">Features</a></li>
                    <li><a data-prodtab-num="5" href="#" data-prodtab="#prod-tab-5">Reviews (3)</a></li>
                </ul>
                <div class="prod-tab-cont">

                    <p data-prodtab-num="1" class="prod-tab-mob active" data-prodtab="#prod-tab-1">Description</p>
                    <div class="prod-tab stylization" id="prod-tab-1">
                        <p>Quis temporibus hic reprehenderit explicabo odio earum maxime cupiditate mollitia magni laboriosam illum adipisci, ipsam, repellendus optio esse dolorem incidunt debitis eius voluptate expedita assumenda. Praesentium iure inventore nostrum corporis illum, est asperiores accusamus, ducimus, accusantium natus illo</p>
                        <p>Ad officiis omnis eaque, tempora quidem, vel, esse quasi qui sed rem provident ea autem accusamus? Aspernatur excepturi rem illo amet sapiente non repellat debitis dignissimos quod, accusamus corrupti consectetur optio maiores, sint aliquam. Veniam, non harum voluptate dicta sit porro iste cumque eligendi placeat ea voluptatem deserunt quam quo facere! Libero vitae rem dolore placeat quae, magni voluptate maiores nemo ullam temporibus adipisci perferendis laboriosam illo ipsam quia numquam, ipsum delectus at vel error iure aspernatur</p>
                    </div>
                    <p data-prodtab-num="2" class="prod-tab-mob" data-prodtab="#prod-tab-2">Features</p>
                    <div class="prod-tab prod-props" id="prod-tab-2">
                        <table>
                            <tbody>
                                <tr>
                                    <td>SKU</td>
                                    <td>05464207</td>
                                </tr>
                                <tr>
                                    <td>Material</td>
                                    <td>Nylon</td>
                                </tr>
                                <tr>
                                    <td>Pattern Type</td>
                                    <td>Solid</td>
                                </tr>
                                <tr>
                                    <td>Wash</td>
                                    <td>Colored</td>
                                </tr>
                                <tr>
                                    <td>Style</td>
                                    <td>Sport</td>
                                </tr>
                                <tr>
                                    <td>Color</td>
                                    <td>Blue</td>
                                </tr>
                                <tr>
                                    <td>Gender</td>
                                    <td>Unisex</td>
                                </tr>
                                <tr>
                                    <td>Rain Cover</td>
                                    <td>No</td>
                                </tr>
                                <tr>
                                    <td>Exterior</td>
                                    <td>Solid Bag</td>
                                </tr>
                                <tr>
                                    <td>Closure Type</td>
                                    <td>Zipper</td>
                                </tr>
                                <tr>
                                    <td>Handle/Strap Type</td>
                                    <td>Soft Handle</td>
                                </tr>
                                <tr>
                                    <td>Size</td>
                                    <td>33cm x 18cm x 48cm</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p data-prodtab-num="5" class="prod-tab-mob" data-prodtab="#prod-tab-5">Reviews (3)</p>
                    <div class="prod-tab" id="prod-tab-5">
                        <ul class="reviews-list">
                            <li class="reviews-i existimg">
                                <div class="reviews-i-img">
                                    <img src="http://placehold.it/120x120" alt="Averill Sidony">
                                    <div class="reviews-i-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <time datetime="2017-12-21 12:19:46" class="reviews-i-date">21 May 2017</time>
                                </div>
                                <div class="reviews-i-cont">
                                    <p>Numquam aliquam maiores ratione dolores ducimus, laborum hic similique delectus. Neque saepe nobis omnis laudantium itaque tempore voluptate harum error, illum nemo, reiciendis architecto, quam tenetur amet sit quisquam cum.<br>Pariatur cum tempore eius nulla impedit cumque odit quos porro iste a voluptas, optio alias voluptate minima distinctio facere aliquid quasi, vero illum tenetur sed temporibus eveniet obcaecati.</p>
                                    <span class="reviews-i-margin"></span>
                                    <h3 class="reviews-i-ttl">Averill Sidony</h3>
                                    <p class="reviews-i-showanswer"><span data-open="Show answer" data-close="Hide answer">Show answer</span> <i class="fa fa-angle-down"></i></p>
                                </div>
                                <div class="reviews-i-answer">
                                    <p>
                                        Thanks for your feedback!<br>
                                        Nostrum voluptate autem, eaque mollitia sed rem cum amet qui repudiandae libero quaerat veniam accusantium architecto minima impedit. Magni illo illum iure tempora vero explicabo, esse dolores rem at dolorum doloremque iusto laboriosam repellendus. <br>Numquam eius voluptatum sint modi nihil exercitationem dolorum asperiores maiores provident repellat magnam vitae, consequatur omnis expedita, accusantium voluptas odit id.
                                    </p>
                                    <span class="reviews-i-margin"></span>
                                </div>
                            </li>
                            <li class="reviews-i existimg">
                                <div class="reviews-i-img">
                                    <img src="http://placehold.it/120x120" alt="Araminta Kristeen">
                                    <div class="reviews-i-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <time datetime="2017-12-21 12:19:46" class="reviews-i-date">14 February 2017</time>
                                </div>
                                <div class="reviews-i-cont">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                    <span class="reviews-i-margin"></span>
                                    <h3 class="reviews-i-ttl">Araminta Kristeen</h3>
                                    <p class="reviews-i-showanswer"><span data-open="Show answer" data-close="Hide answer">Show answer</span> <i class="fa fa-angle-down"></i></p>
                                </div>
                                <div class="reviews-i-answer">
                                    Benjy, hi!<br>
                                    Officiis culpa quos, quae optio quia.<br>
                                    Amet sunt dolorem tempora, pariatur earum quidem adipisci error voluptates tempore iure, nobis optio temporibus voluptatum delectus natus accusamus incidunt provident sapiente explicabo vero labore hic quo?
                                    <span class="reviews-i-margin"></span>
                                </div>
                            </li>
                            <li class="reviews-i">
                                <div class="reviews-i-cont">
                                    <time datetime="2017-12-21 12:19:46" class="reviews-i-date">21 May 2017</time>
                                    <div class="reviews-i-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                    <span class="reviews-i-margin"></span>
                                    <h3 class="reviews-i-ttl">Jeni Margie</h3>
                                    <p class="reviews-i-showanswer"><span data-open="Show answer" data-close="Hide answer">Show answer</span> <i class="fa fa-angle-down"></i></p>
                                </div>
                                <div class="reviews-i-answer">
                                    Hello, Jeni Margie!<br>
                                    Nostrum voluptate autem, eaque mollitia sed rem cum amet qui repudiandae libero quaerat veniam accusantium architecto minima impedit. Magni illo illum iure tempora vero explicabo, esse dolores rem at dolorum doloremque iusto laboriosam repellendus. <br>Numquam eius voluptatum sint modi nihil exercitationem dolorum asperiores maiores provident repellat magnam vitae, consequatur omnis expedita, accusantium voluptas odit id.
                                    <span class="reviews-i-margin"></span>
                                </div>
                            </li>
                        </ul>
                        <div class="prod-comment-form">
                            <h3>Add your review</h3>
                            <form method="POST" action="#">
                                <input type="text" placeholder="Name">
                                <input type="text" placeholder="E-mail">
                                <textarea placeholder="Your review"></textarea>
                                <div class="prod-comment-submit">
                                    <input type="submit" value="Submit">
                                    <div class="prod-rating">
                                        <i class="fa fa-star-o" title="5"></i><i class="fa fa-star-o" title="4"></i><i class="fa fa-star-o" title="3"></i><i class="fa fa-star-o" title="2"></i><i class="fa fa-star-o" title="1"></i>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Single Product - end -->


    </section>
</main>

